* {
    box-sizing: border-box;
}


/* Para telas grandes */

body {
    background-color: black;
    color: whitesmoke;
}

nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav a {
    font-size: 1.5em;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a .textoMenu {
    padding-left: 0.5em;
}

nav a:hover {
    background-color: #0088cc;
    color: black;
}

main {
    padding: 1%;
    margin-top: 1%;
    height: 1500px;
}


/* On screens that are 992px or less, set the background color to blue */

@media screen and (max-width: 992px) {
    body {}
    nav a .textoMenu {
        display: none;
    }
}


/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 600px) {
    body {}
    header {
        display: none;
    }
    nav a .textoMenu {
        display: none;
    }
}